.form{
    background-color: yellow;
    border-radius: 10px;
    width: 300px;
    border: 8px solid green;
    padding: 50px;
    margin: 20px;
    text-align: center;
    margin-left: 550px;
    
}